<%= link_to 'マイページへ行く', user_path(current_user) %>  <%# ログインしているユーザーの情報を表示 %>
<div class="content">
  <% @items.each do |item| %> 
<%# eachメソッドを使い、全商品に対して以下の処理を実行 %>
    <p>商品名：<%= item.name %></p>
    <p>値段：<%= item.price %>円</p>
    
    <%# もしitem_orderテーブルに保存されていたら %>
    <% if item.item_order != nil %>  <%# 「もしitem_orderテーブルに商品が保存（＝購入）されていたら」%>
      <div class='sold-out'>
        <b>Sold Out!!</b>  <%# 保存されていれば「Sold Out!! %>
      </div>
    <% else %>  <%# 保存されていなければ「購入するボタン」が表示される %>
      <%= link_to '購入する', order_item_path(item.id), method: :post %>
    <% end %>
  
  <% end %>
</div>


<%# 「seedファイル」とは、あらかじめデータを用意出来るファイル %>
<%# 「PAY.JP」とは、クレジットカード決済処理を持ったアプリケーションを開発できるサービスのこと %>
<%# 「トークン」とは、PAY.JPからカード情報を引き出す際に必要なパスワードのこと %>
<%# 「Chargeオブジェクト」とは、PAY.JP側であらかじめ用意されている支払い情報を生成するオブジェクトのこと %>
<%# 「Customerオブジェクト」とは、PAY.JP側であらかじめ用意されている顧客を管理するためのオブジェクトのこと %>
<%# 「payjp.js」とは、カード情報をトークン化してくれるライブラリのこと %>
<%# 「member」とは、URIにid情報を含むことが出来るツールのこと %>