<%= link_to 'マイページへ行く', user_path(current_user) %>  <%# ログインしているユーザーの情報を表示 %>
<div class="content">
  <% @items.each do |item| %> 
<%# eachメソッドを使い、全商品に対して以下の処理を実行 %>
    <p>商品名：<%= item.name %></p>
    <p>値段：<%= item.price %>円</p>
    
    <%# もしitem_orderテーブルに保存されていたら %>
    <% if item.item_order != nil %>  <%# 「もしitem_orderテーブルに商品が保存（＝購入）されていたら」%>
      <div class='sold-out'>
        <b>Sold Out!!</b>  <%# 保存されていれば「Sold Out!! %>
      </div>
    <% else %>  <%# 保存されていなければ「購入するボタン」が表示される %>
      <%= link_to '購入する', order_item_path(item.id), method: :post %>
    <% end %>
  
  <% end %>
</div>